.login-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.login-info {
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  // color: #fff;
  
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
